<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="icon" href="logo.png">
    <title>Tareas por hacer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/css.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/cssprint.css" media="print" />
</head>

<body>
    <div class="contenedor">
        <div class="header">
            <div class="titulo"></div>
            <div class="inicio">Lista de Tareas</div>
            <div class="informacion">
                <div class="Foto"></div>
                <div class="user">
                    <div class="Correo"> USUARIO@GMAIL.COM</div>
                    <div class="estado"><a href="#" class="BotonD">DESCONECTAR</a></div>
                </div>
            </div>
        </div>
        <div class="ContenedorTareas">

            <ul>
                <% tasks.forEach(function(task) { %>
                <li>
                    <% if(task.done == 1) { %>
                    <div class="tarea tareaFinalizada">
                        <%= task.text %>
                        <% }else{ %>
                        <!-- Preguntar a marina por que no se puede separar
                    la llave del else-->
                        <div class="tarea">
                            <%= task.text %>
                            <div class="Botones">


                                <div class="finalizar"> <a href="/finish/<%= task.id %>" class="botonF">MARCAR
                                        FINALIZADA</a></div>
                            </div>
                            <% } %>
                </li>
                <% }); %>
            </ul>
            <div><a href="/deleteCompleted" class="botonEliminar">Eliminar tareas completadas</a></div>
        </div>
        <div class="Derecha">
            <form method="POST" action="/addTask">

                <input type="text" name="texto" id="formTexto">

                <input type="submit" value="Añadir tarea" id="formEnviar">
            </form>
        </div>
    </div>
</body>

</html>